.main-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-height: 100vh;
}

.main-container > * {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  padding: 0 50px;
}

header {
  background-color: #a52f2a;
  color: #fff;
  height: 40px;
}

header h1 {
    font-size: 30px;
}

section > * {
    margin-bottom: 15px;
}

.text-italic {
  font-style: italic;
}

.text-bold {
  font-weight: bold;
}

.description, .cars {
    max-width: 869px;
}

.cars img {
    border: 3px dashed #000;
}

footer {
  background-color: #000;
  color: #fff;
  font-size: 20px;
  height: 30px;
  margin-top: auto;
}
